* {
  padding: 0;
  margin: 0;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
label {
    display: inline-block;
    margin-bottom: 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.button {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.edit-button {
  color: #007bff;
}
.exit-button {
  color: #f00;
}




.main-page {
  text-align: center;
}
.main-page__wrapper {
  display: inline-block;
  text-align: left;
  max-width: 1200px;
  min-width: 600px;
}
.filter-form__body input[type="checkbox"]{
  position: absolute;
  margin-top: .1rem;
  margin-left: -1.25rem;
}
.main-page__filter-block__main, .main-page__quotes-block__main {
  position: relative;
  margin: 1rem -15px 0;
  margin-right: -15px;
  margin-left: -15px;
  border: solid #f7f7f9;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: .2rem 0 0;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  text-align: center;
}

.main-page__filter-block.title {
  pointer-events: auto;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.main-page__filter-block.button {
  margin-top: 15px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.main-page__filter-block.filter-form__body {
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100px;
  overflow: auto;
  position: relative;
}
.main-page__quotes-block__quote {
  border-bottom: solid #f7f7f9;
  padding: 15px;
  text-align: left;
}
.main-page__quotes-block__quote__string__buttons {
  text-align: right;
}
.main-page__quotes-block__quote__string__button {
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.main-page__quotes-block__quote__string {
  width: 100%;
}
.main-page__filter-block.filter-form {
  /* margin-bottom: 15px; */
  display: inline-block;
  text-align: left;
  padding: 30px;
  border-bottom: solid #f7f7f9;
  border-top: solid #f7f7f9;
}
.main-page__quotes-block__quote__string.caption {
  font-weight: 600;
  display: inline-block;
  padding-right: 5px;
  width: auto;
}
.main-page__quotes-block__quote__string.value {
  display: inline-block;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.js-quote-edit {
  color: #495057;
  background-color: #dbecff;
  border-color: #dee2e6;
}
.js-quote-edit .edit-button {
  color: #008f19;
}
.main-page__quotes-block__quote__string input[type=text] {
  width: calc(100% - 20px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: -5px;
}
.main-page__quotes-block__quote__string input[type=text]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
